@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожалывать в Справочник Начальника Тюрьмы!</h1>
    <p>Чтобы начать работу, выберите один из пунктов меню.</p>
</div>
